#overlay .puzzle-picker {
  margin: auto;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;

  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    align-items: center;
  }

  select {
    padding: 5px 20px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    font-family: inherit;
    transition-duration: 0.25s;
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    transition-duration: 0.25s;
    background-color: #ccc;
    border: 1px solid var(--black);
    color: black;

    &:active {
      background-color: var(--white);
      border: 1px solid var(--black);
      color: var(--black);
    }

    &:disabled {
      border: 1px solid #999;
      background-color: #999;
      color: #ccc;
      cursor: not-allowed;
    }

    &.date {
      padding: 5px 10px;
    }
  }

  .y-2019 {
    background-color: #70261f;
  }

  .y-2020 {
    background-color: #ac6a24;
  }

  .y-2021 {
    background-color: #aba727;
  }

  .y-2022 {
    background-color: #397822;
  }

  .y-2023 {
    background-color: #264569;
  }

  .y-2024 {
    background-color: #4a2469;
  }
}
